.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
*.freezed.dart
app/pubspec.lock
.idea/
.vscode/
*.iml
.DS_Store
macos/.symlinks/
macos/Pods/
macos/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Flutter/flutter_export_environment.sh
coverage/
